* {
  box-sizing: border-box;
}
body {
  margin: 0;
  background-color: black;
  color: white;
  font-family: "Courier New", Courier, monospace;
  width: 100%;
  max-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h1 {
  font-size: 50px;
  margin-top: 20px;
  margin-bottom: 10px;
}
.gamePlay {
  display: grid;
  grid-gap: 0px 50px;
  align-items: center;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

#gameContainer {
  grid-row: 2/3;
  grid-column: 1/2;
  max-width: fit-content;
  position: relative;
}
.instructions {
  grid-row: 3/4;
  grid-column: 1/3;
  max-width: 1000px;
}

.controls {
  grid-row: 2/3;
  grid-column: 2/3;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

canvas {
  border: 10px solid;
  width: 100%;
  height: 100%;
  max-width: 600px;
  max-height: 600px;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.arrowBtn {
  display: grid;
  grid-gap: 10px;
}

#scoreBar {
  color: white;
  background-color: rgb(12, 57, 13);
  font-size: 20px;
  font-weight: bold;
  padding: 5px;
  margin: 0;
}

h1,
h3 {
  color: white;
  text-align: center;
}

img {
  border-radius: 4px;
  padding: 5px;
  width: 50px;
}

button {
  justify-content: center;
  text-align: center;
  background-color: white;
  cursor: pointer;
  border-radius: 10px;
}

#upBtn {
  grid-row: 1/2;
  grid-column: 2/3;
}

#downBtn {
  grid-row: 3/4;
  grid-column: 2/3;
}

#leftBtn {
  grid-row: 2/3;
  grid-column: 1/2;
}

#rightBtn {
  grid-row: 2/3;
  grid-column: 3/4;
}

#restartBtn {
  margin-top: 50px;
  font-size: 20px;
  padding: 10px;
  align-items: center;
  border-radius: 5px;
}

#gameOverScreen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#gameOver {
  font-size: 80px;
  text-align: center;
}

#finalScore {
  font-size: 50px;
  text-align: center;
}

@media only screen and (max-width: 750px) {
  body {
    overflow-y: scroll;
  }
  .gamePlay {
    grid-gap: 10px;
    max-width: 600px;
    max-height: 600px;
    align-items: center;
    justify-content: center;
  }

  #gameContainer {
    grid-row: auto;
    grid-column: auto;
  }

  .instructions {
    grid-column: auto;
    text-align: center;
    width: 600px;
  }

  .controls {
    grid-column: auto;
    width: 100%;
    margin: 0;
  }

  h1 {
    font-size: 30px;
    margin: 10px;
  }

  #gameOver {
    font-size: 50px;
  }

  #finalScore {
    font-size: 30px;
  }
}

@media only screen and (max-width: 550px) {
  body {
    overflow-y: scroll;
  }
  .gamePlay {
    grid-gap: 5px;
    margin: 5px;
    max-width: 350px;
  }

  #gameContainer {
    grid-row: auto;
    grid-column: auto;
  }

  .instructions {
    grid-column: auto;
    width: 100%;
    text-align: center;
  }

  .controls {
    grid-column: auto;
    width: 100%;
  }

  #gameOver {
    font-size: 30px;
  }

  #finalScore {
    font-size: 20px;
  }
}
